<div class="stadium-card">
    {{#if this.image}}
    <img src="{{this.image}}" alt="{{this.stadium}}">
  {{else}}
    <p>No image available</p>
  {{/if}}
    <h3>{{ this.stadium }}</h3>
  <p>{{ this.team }} - {{ this.league }}</p>
  <p>{{ this.city }}, {{ this.state }}</p>
  <a href="/api/stadiums/{{this.stadium_id}}">View Details</a>
</div>