<div class="stadium-card-container">
  <div class="stadium-card">
    <h3>{{ stadium }}</h3>
    {{#if official_url}}
      <embed src="{{ official_url }}" alt="{{ stadium }}">
    {{else}}
      <p>No image available</p>
    {{/if}}
    
    <p>{{ team }}</p>
  </div>
  <div>
    <a href="/api/stadiums/{{ id }}">View Details</a>
  </div>
</div>
