  <main class="main-content">
    <h1>Welcome to Venue Voyager</h1>
    <h2>Discover and rate the best professional stadiums in the USA.</h2>
  </main>

  <h1>Pick Your League</h1>
  <div class="card-container">
    {{#each cardData}}
      <a href="/stadiums/{{this.title}}">  <div class="card">
          <img src="{{ this.logo }}" alt="{{ this.title }} Logo">  <h3>{{ this.title }}</h3>
          <p>{{ this.description }}</p>
        </div>
      </a>
    {{/each}}
  </div>
