
<main class="main-content">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{name}}!</h2>
    </div>
  </div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New stadium:</h3>

    <form class="form new-stadium-form">
      <div class="form-group">
        <label for="stadium-name">Stadium Name:</label>
        <input class="form-input" type="text" id="stadium-name" name="stadium-name" />
      </div>
      <div class="form-group">
        <label for="stadium-rating">Rating:</label>
        <input class="form-input" type="number" id="stadium-rating" name="stadium-rating" />
      </div>
      <p>Rating</p>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>

      <div class="form-group">
        <label for="stadium-review">Review:</label>
        <textarea class="form-input" id="stadium-review" name="stadium-review"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

    <main class="main-content">
      <div class="row">
        <div class="col-auto">
          <h2>Welcome, {{name}}!</h2>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <h2>Your Profile</h2>
          <p>Welcome, {{username}}!</p>
          <h3>Your Posts</h3>
          <div class="posts">
            {{#each posts}}
            <div class="post">
              <p>{{this.text}}</p>
              <button data-id="{{this.id}}" class="delete-comment">Delete</button>
            </div>
            {{/each}}
          </div>
        </div>

        {{#if stadiums.length}}
        <div class="col-md-6 stadium-list">
          <h3>Current stadiums:</h3>

          {{#each stadiums as |stadium|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/stadium/{{stadium.id}}">{{stadium.name}}</a></h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger" data-id="{{stadium.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
  </div>
  </main>

  <script src="./js/profile.js"></script>
