
<main class="main-content">
  <div class="row">
    <div class="col-auto">
      <h2>Places You've Been</h2>
    </div>
  </div>

  <h2>Your Stadium Visits</h2>
    <div class="userstadium-content">
      <div class="row">
        {{#each userStadiums}}
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h3 class="card-title">Stadium Visit</h3>
                <p class="card-text">Date Visited: {{date_visited}}</p>
                <p class="card-text">Rating: {{rating}}</p>
                <p class="card-text">Review: {{review}}</p>
                
               
                <button class="btn btn-sm btn-primary edit-btn" data-id="{{id}}">EDIT</button>
                <button class="btn btn-sm btn-danger delete-btn" data-id="{{id}}">DELETE</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
 </main>
<script src="/js/profile.js"></script>
<script src="/js/edit.js"></script>