<main class="main-content">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{name}}!</h2>
    </div>
  </div>

  <div class="row mt-4">
    {{#if stadiums.length}}
    <div class="col-md-6 stadium-list">
      <h3>Current stadiums:</h3>
      {{#each stadiums as |stadium|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/stadium/{{stadium.id}}">{{stadium.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger delete-btn" data-id="{{stadium.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}

    <div class="row mt-4">
      <div class="col-md-6">
        <h3>Pick Your Stadium:</h3>

        <form class="form new-stadium-form">
          <div class="form-group">
            <label for="stadium-name">Stadium Name:</label>
            <input class="form-input" type="text" id="stadium-name" name="stadium-name" />
          </div>

          <div class="form-group">
            <label for="date-visited">Date Visited:</label>
            <input class="form-input" type="date" id="date-visited" name="date_visited" />
          </div>

          <div><p>Rating</p></div>
          <div class="rate">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star">1 star</label>
          </div>

          <div class="form-group">
            <label for="stadium-review">Review:</label>
            <textarea class="form-input" id="stadium-review" name="review"></textarea>
          </div>

          <!-- Add hidden input fields for user_id and stadium_id -->
          <input type="hidden" id="user-id" name="user_id" value="{{userId}}" />
          <input type="hidden" id="stadium-id" name="stadium_id" value="{{stadiumId}}" />

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

