<main>
  <h2>{{this.stadium}}</h2>
  <p>Team: {{this.team}}</p>
  <p>League: {{this.league}}</p>
  <p>Division: {{this.division}}</p>
  <p>City: {{this.city}}</p>
  <p>State: {{this.state}}</p>
  {{#if image}}
    <img src="{{image}}" alt="{{this.stadium}}">
  {{else}}
    <p>No image available</p>
  {{/if}}

</main>