<main>
  <div class="card mb-3" style="width: 100rem;">
        {{#if this.image}}
        <img src="{{this.image}}" class="card-img-top w-100" alt="{{this.stadium}}">
        {{else}}
        <p>No image available</p>
        {{/if}}
    <div class="card-body">
      <h2 class="card-title">{{this.stadium}}</h2>
      <p class="card-text">Team: {{this.team}} League: {{this.league}} Division: {{this.division}}</p>
      <p class="card-text">City: {{this.city}} State: {{this.state}} id: {{this.id}}</p>
    </div>
  </div>
</main>